.policies {
	line-height: 2.5em;
}

.rightSideScore {
	text-align: right;
}
.google-container {
	padding-bottom: 800px;
}
@media only screen and (max-width: 815px) {
	.google-container {
		padding-bottom: 170%;
		position: static;
	}
}
.google-container iframe {
	position: relative;
	left: 0;
	margin: auto;
	height: 100vh;
	width: 100%;
	border: 0;
	max-width: 900px;
	display: flex;
	align-items: center;
}

.navbar {
	position: sticky !important;
}
.navbarlink {
	text-decoration: none;
	color: white !important;
}
.ambernavbarlink {
	text-decoration: none;
	color: black !important;
}
.sidelink {
	text-decoration: none;
	color: #ffc107 !important;
}
.footertext {
	font-size: x-small;
}
.company {
	font-size: x-small;
	text-decoration: none;
	color: black !important;
	padding-left: 5px;
}
.thumbnail {
	visibility: hidden;
	width: 75px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
	.thumbnail {
		visibility: visible;
	}
	.navbarlink {
		visibility: hidden;
	}
	.ambernavbarlink {
		visibility: hidden;
	}
}
.logo {
	width: 250px;
}
.region {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pageTitle {
	font-weight: 700;
	font-size: 1.75rem;
	text-align: center;
}

.sectionHeader {
	font-weight: 600;
	font-size: 1.25rem;
	text-align: center;
}
